<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm" style=" width:100%   ">
    <h1><a class="my-2 my-md-0 me-md-3"  href="/">Library</a></h1>
    <nav class="my-2 my-md-0 me-md-3 ">
        <a class="p-2 text-dark" href="/books">Books</a>
        <a class="p-2 text-dark" href="/books/add">add book</a>
        <a class="p-2 text-dark" href="/lending books">Lending books</a>
        <a class="p-2 text-dark" href="/3">3</a>
        <a class="p-2 text-dark" href="/4">4</a>
    </nav>
    <a class="btn btn-outline-primary" href="#" style="position:fixed; right:0;">Sign up</a>
</div>
</div>