<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="header :: header"></div>

<main>
    <div style="background=#F7EAE8" >
        <div style="margin-left:20%; margin-right:20%; margin-top:3%; background:#F7DED9" >

        </div>
    </div>
</main>

<div th:insert="footer :: footer"></div>


</body>
</html>